/* Global Features */

* {
    font-family: 'Quicksand';
    background: #333333;
    color: white;
}

body {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
}

h3 {
    text-align: center;
}

/* Intro */

.intro {
    padding: 3%;
    /* background: lightblue; */
    font-family: 'Quicksand';

}

/* Form */
#button {
    /* color: yellow; */
    /* background: purple; */
    padding: 1%;
}

#big-button {
    text-align: center;
    /* background: blue; */
    /* padding: 2%; */
}


/* div containing all the buttons */
#buttons-view {
    /* background: green; */
    padding: 2%;
}

/* class given to newly created buttons */
.gif-btn {
    background-color: #f44336; 
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



/* text-area */
#gif-input {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* gif making button */
#add-gif {
    background: yellow;
    border: none;
    border-radius: 3px;
    color: #333333;
    font-weight: 500;
    padding: 0.8% 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
}



/* gif area */

#gif-div {
    overflow-x: hidden;
    width: 94vw;
    display: table;
    margin: auto;
    /* padding-left: -50px; */
    /* justify-content: space-around; */
    /* background: green; */
}

img {
    height: 180px; 
    width: 18vw;
 
    float: left;
    margin: 1px;
}
